<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kundeliste</title>
    <link rel="stylesheet" type="text/css" th:href="@{/MyCSS.css}">
</head>
<body id="bodyStyle">
    <h2>Liste over kundeinformationer</h2>
    <button type="button" id="tilbageKnap" onclick="tilbage()">Tilbage</button>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Telefon</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="kunde: ${kundeliste}">
                <td th:text="${kunde.ku_id}"></td>
                <td th:text="${kunde.fornavn}"></td>
                <td th:text="${kunde.efternavn}"></td>
                <td th:text="${kunde.telefon}"></td>
                <td th:text="${kunde.email}"></td>
                <td>
                    <a th:href="@{'/kundeDetaljer/'+${kunde.ku_id}}">
                        <button type="button" id="visButton">
                            Vis mere
                        </button>
                    </a>
                </td>
                <td>
                    <a th:href="@{'/sletKunde/'+${kunde.ku_id}}">
                        <button type="button" id = "sletButton"
                                onclick = "return confirm('Er du sikker?\n(Dette vil slette alle tilknyttede kontrakter)')">
                            Slet
                        </button>
                    </a>
                    <br />
                    <a th:href="@{'/aendreKunde/'+${kunde.ku_id}}">
                        <button type="button" id = "aendreButton">
                            Ændre
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/">
        <input type="image" src="NMRlogo.png" width="48" height="48" id="homepage">
    </a>
    <script>
        function tilbage() {
            window.history.back();
        }
    </script>
</body>
</html>