<!--Ansvarlig - DMR-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kunde detaljer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/MyCSS.css}">
</head>
<body id="bodyStyle">
    <h2>Detaljeret visning af kundeinformation</h2>
    <button type="button" id="tilbageKnap" onclick="tilbage()">Tilbage</button>
<div class="row">
    <table style="width: 50%">
        <tr>
            <td>Fornavn</td>
            <td th:text="${valgtKunde.fornavn}"></td>
        </tr>
        <tr>
            <td>Efternavn</td>
            <td th:text="${valgtKunde.efternavn}"></td>
        </tr>
        <tr>
            <td>Telefon nr.</td>
            <td th:text="${valgtKunde.telefon}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${valgtKunde.email}"></td>
        </tr>
        <tr>
            <td>Kørekort nr.</td>
            <td th:text="${valgtKunde.korekort}"></td>
        </tr>
        <tr>
            <td>Gade</td>
            <td th:text="${valgtKunde.gade}"></td>
        </tr>
        <tr>
            <td>Postnummer</td>
            <td th:text="${valgtKunde.postnummer}"></td>
        </tr>
        <tr>
            <td>By</td>
            <td th:text="${valgtKunde.bynavn}"></td>
        </tr>
        <tr>
            <td>Land</td>
            <td th:text="${valgtKunde.land}"></td>
        </tr>
    </table>
</div>

<script>
    function tilbage() {
        window.history.back();
    }
</script>

</body>
</html>