<!--Ansvarlig - DMR-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret kunde</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body id="bodyStyle">
    <h2>Opret ny kunde</h2>
    <form action="/opretKunde" method="post">
        <div id="opretForm">
            Fornavn: <input type="text" name="fornavn" required oninvalid="this.setCustomValidity('Indtast venligst et fornavn')" oninput="this.setCustomValidity('')"><br>
            Efternavn: <input type="text" name="efternavn" required oninvalid="this.setCustomValidity('Indtast venligst et efternavn')" oninput="this.setCustomValidity('')"><br>
            Telefon: <input type="text" name="telefon" required pattern="^[0-9-+\s()]*$" oninvalid="this.setCustomValidity('Indtast venligst et gyldigt telefonnummer')" oninput="this.setCustomValidity('')"><br>
            Email: <input type="email" name="email" required oninvalid="this.setCustomValidity('Indtast venligst en gyldig emailadresse')" oninput="this.setCustomValidity('')"><br>
            Kørekort nr.: <input type="text" name="korekort" required oninvalid="this.setCustomValidity('Indtast venligst et kørekortsnummer')" oninput="this.setCustomValidity('')"><br>
            Gade: <input type="text" name="gade" required oninvalid="this.setCustomValidity('Indtast venligst en adresse')" oninput="this.setCustomValidity('')"><br>
            Postnummer: <input type="text" name="postnummer" required oninvalid="this.setCustomValidity('Indtast venligst et postnummer')" oninput="this.setCustomValidity('')"><br>
            By: <input type="text" name="bynavn" required oninvalid="this.setCustomValidity('Indtast venligst et bynavn')" oninput="this.setCustomValidity('')"><br>
            Land: <input type="text" name="land" required oninvalid="this.setCustomValidity('Indtast venligst et navn')" oninput="this.setCustomValidity('')"><br>
            <input type="submit" value="Gem" id="gemButton">
            <button type="button" id="tilbageKnap" onclick="tilbage()">Tilbage</button>
        </div>
    </form>
    <a href="/">
        <input type="image" src="NMRlogo.png" width="48" height="48" id="homepage">
    </a>
    <script>
        function tilbage() {
            window.history.back();
        }
    </script>
</body>
</html>