<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ny kontrakt</title>
    <link rel="stylesheet" type="text/css" th:href="@{/MyCSS.css}">
</head>
<body>
    <h2>Dette er de indtastede informationer</h2>
    <div id="opretForm">
        <form action="/acceptKontrakt" method="post">
            Kunde ID: <input type="text" name="ku_id" th:value="${nyKontrakt.ku_id}" readonly><br>
            Autocamper ID: <input type="text" name="a_id" th:value="${nyKontrakt.a_id}" readonly><br>
            Start dato: <input type="text" name="start_dato" th:value="${nyKontrakt.start_dato}" readonly><br>
            Slut dato: <input type="text" name="slut_dato" th:value="${nyKontrakt.slut_dato}" readonly><br>
            Afleveringslokation: <input type="text" name="aflevering" th:value="${nyKontrakt.aflevering}" readonly><br>
            Afhentningslokation: <input type="text" name="afhentning" th:value="${nyKontrakt.afhentning}" readonly><br><br><br>
            Cykelstativ: <input type="text" name="cykelstativ" th:value="${nyKontrakt.cykelstativ}" readonly><br>
            Barnesæde: <input type="text" name="barnesaede" th:value="${nyKontrakt.barnesaede}" readonly><br>
            Sengetøj: <input type="text" name="sengetoj" th:value="${nyKontrakt.sengetoj}" readonly><br>
            Picnicbord + 4 stole: <input type="text" name="picnicbord" th:value="${nyKontrakt.picnicbord}" readonly><br>
            Kommentar: <input type="text" name="ko_kommentar" th:value="${nyKontrakt.ko_kommentar}" readonly><br><br><br>
            Total pris: <input type="text" name="ko_pris" th:value="${nyKontrakt.ko_pris}" readonly style="color: olivedrab; font-size: larger "><br>
            Total pris: <input type="text" name="ko_pris" th:value="${nyKontrakt.ko_pris}" readonly style="color: olivedrab; font-size: larger "><br>
            <h4>Er de indtastede informationer korrekte?</h4>
            <input type="submit" value="Accept">
            <button type="button" onclick="tilbage()">Tilbage</button>
        </form>
    </div>
    <a href="/">
        <button type = "button" id="homepage">
            Forside
        </button>
    </a>
    <script>
        function tilbage() {
            window.history.back();
        }
    </script>
</body>
</html>