<!--Ansvarlig - DMR & ENA-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kontrakter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/MyCSS.css}">
</head>
<h1>Kontrakter</h1>
<body id="bodyStyle">
    <a href="/opretKontrakt">
        <button type = "button" id="tilfojButton">
            Opret kontrakt
        </button>
    </a>
    <br>
    <a href="/kontraktListe">
        <button type="button" id="seListeButton">
            Se liste
        </button>
    </a>
    <a href="/">
        <img src="NMRlogo.png" width="48" height="48" id="homepage">
    </a>
</body>
</html>