<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kontrakter</title>
    <link rel="stylesheet" type="text/css" href="../../static/MyCSS.css" th:href="@{/MyCSS.css}">
</head>
<body>
    <a href="/opretKontrakt">
        <button type = "button" id="addNew">
            Opret kontrakt
        </button>
    </a>
    <a href="/">
        <input type="image" src="HomButton4.png" alt="Submit" width="48" height="48" id="homepage">
        </button>
    </a>
</body>
</html>