<!--Ansvarlig - DMR & ENA-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vælg autocamper</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css" th:href="@{/MyCSS.css}">
</head>
<body id="bodyStyle">
    <h2>Vælg autocamper til kontrakten</h2>
    <h4>Her er en liste over de autocampere, der er tilgængelige i den valgte periode</h4>
    <form action="/kontraktData">
        <input type="hidden" name="ku_id" th:value="${nyKontrakt.ku_id}" readonly>
        <input type="text" name="start_dato" th:value="${nyKontrakt.start_dato}" readonly> til
        <input type="text" name="slut_dato" th:value="${nyKontrakt.slut_dato}" readonly> <br><br>
        <input type="number" name="a_id" placeholder="Input ID her" required oninvalid="this.setCustomValidity('Indtast venligst et ID tal')" oninput="this.setCustomValidity('')">
        <input type="submit" value="Videre" id="videreButton">
        <button type="button" id="tilbageKnap" onclick="tilbage()">Tilbage</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Mærke</th>
            <th>Model</th>
            <th>Kilometer kørt</th>
            <th>Sengepladser</th>
            <th>Nummerplade</th>
            <th>Pris per dag</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="autocamper: ${autocamperliste}">
            <td th:text="${autocamper.a_id}" />
            <td th:text="${autocamper.a_type}" />
            <td th:text="${autocamper.a_maerke}" />
            <td th:text="${autocamper.a_model}" />
            <td th:text="${autocamper.a_odometer}" />
            <td th:text="${autocamper.a_senge}" />
            <td th:text="${autocamper.a_nummerplade}" />
            <td th:text="${autocamper.a_pris}" />
        </tr>
        </tbody>
    </table>
    <a href="/">
        <input type="image" src="NMRlogo.png" width="48" height="48" id="homepage">
    </a>
    <script>
        function tilbage() {
            window.history.back();
        }
    </script>
</body>
</html>