<!--Ansvarlig - DMR & ENA-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vælg dato</title>
    <link rel="stylesheet" type="text/css" th:href="@{/MyCSS.css}">
</head>
<body id="bodyStyle">
    <h2>Indtast start og slutdato på kontrakten</h2>
    <div id="opretForm">
        <form action="/kontraktAuto" method="get">
            <input type="hidden" name="ku_id" th:value="${nyKontrakt.ku_id}" readonly><br>
            Start dato: <input type="date" name="start_dato" required oninvalid="this.setCustomValidity('Indtast venligst en gyldig dato YYYY-MM-DD')" oninput="this.setCustomValidity('')"><br>
            Slut dato: <input type="date" name="slut_dato" required oninvalid="this.setCustomValidity('Indtast venligst en gyldig dato YYYY-MM-DD')" oninput="this.setCustomValidity('')"><br>
            <input type="submit" value="Videre" id="videreButton">
            <button type="button" id="tilbageKnap" onclick="tilbage()">Tilbage</button>
        </form>
    </div>
    <a href="/">
        <input type="image" src="NMRlogo.png" width="48" height="48" id="homepage">
    </a>
    <script>
        function tilbage() {
            window.history.back();
        }
    </script>
</body>
</html>