<!--Ansvarlig - DMR & ENA-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kontrakt Data</title>
    <link rel="stylesheet" type="text/css" th:href="@{/MyCSS.css}">
    <style>
        input[type=checkbox]{
            transform: scale(2);
        }
        th{
            text-align: center;
        }
        td{
            text-align: center;
        }
    </style>
</head>
<body id="bodyStyle">
    <h2>Indtast yderligere oplysninger</h2>
    <div id="opretForm" style="width: 350px">
        <form action="/acceptKontrakt" method="get">
            <input type="hidden" name="ku_id" th:value="${nyKontrakt.ku_id}">
            <input type="hidden" name="a_id" th:value="${nyKontrakt.a_id}">
            <input type="hidden" name="start_dato" th:value="${nyKontrakt.start_dato}">
            <input type="hidden" name="slut_dato" th:value="${nyKontrakt.slut_dato}">
            Afleveringslokation: <input type="text" name="aflevering"><br>
            Afhentningslokation: <input type="text" name="afhentning"><br>
            Tillægskilometer: <input type="number" name="ko_pris" value="0" required><br>
            Kommentar: <input type="text" name="ko_kommentar">
            <table style="width: 350px; margin: 5px">
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Pris per dag i € </th>
                    <th>Valg</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Cykelstativ</td>
                    <td>9.99</td>
                    <td><label for="cykelstativ"></label><input type="checkbox" id="cykelstativ" name="cykelstativ"</td>
                </tr>
                <tr>
                    <td>Barnesæde</td>
                    <td>2.90</td>
                    <td><label for="barnesaede"></label><input type="checkbox" id="barnesaede" name="barnesaede"></td>
                </tr>
                <tr>
                    <td>Sengetøj</td>
                    <td>5.00</td>
                    <td><label for="sengetoj"></label><input type="checkbox" id="sengetoj" name="sengetoj"></td>
                </tr>
                <tr>
                    <td>Picnicbord + 4 stole</td>
                    <td>8.99</td>
                    <td><label for="picnicbord"></label><input type="checkbox" id="picnicbord" name="picnicbord"></td>
                </tr>
                </tbody>
            </table>
            <input type="submit" value="Gem" id="gemButton">
            <button type="button" id="tilbageKnap" onclick="tilbage()">Tilbage</button>
        </form>
    </div>
    <a href="/">
        <input type="image" src="NMRlogo.png" width="48" height="48" id="homepage">
    </a>
    <script>
        function tilbage() {
            window.history.back();
        }
    </script>
</body>
</html>