<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vælg dato</title>
</head>
<body>
    <div id="opretForm">
        <form action="/kontraktAuto" method="get">
            Kunde ID: <input type="text" name="ku_id" th:value="${nyKontrakt.ku_id}" readonly><br>
            Start dato: <input type="text" name="start_dato" required><br>
            Slut dato: <input type="text" name="slut_dato" required><br>
            <input type="submit" value="Videre">
        </form>
    </div>

</body>
</html>