<!--Ansvarlig - DMR & ENA-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liste af kontrakter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/MyCSS.css}">
</head>
<body id="bodyStyle">
    <h2>Liste over kontrakter</h2>
    <button type="button" id="tilbageKnap" onclick="tilbage()">Tilbage</button>
    <table>
        <thead>
        <tr>
            <th>Kontrakt ID</th>
            <th>Kunde ID</th>
            <th>Kundens efternavn</th>
            <th>Autocamper ID</th>
            <th>Start dato</th>
            <th>Slut dato</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="ko: ${kontraktliste}">
                <td th:text="${ko.ko_id}"></td>
                <td th:text="${ko.ku_id}"></td>
                <td th:text="${ko.ko_kommentar}"></td>
                <td th:text="${ko.a_id}"></td>
                <td th:text="${ko.start_dato}"></td>
                <td th:text="${ko.slut_dato}"></td>
                <td>
                    <a th:href="@{'/kontraktDetaljer/'+${ko.ko_id}}">
                        <button type="button" id="visButton">
                            Vis mere
                        </button>
                    </a>
                </td>
                <td>
                    <a th:href="@{'/sletKontrakt/'+${ko.ko_id}}">
                        <button type="button" id="sletButton" onclick="return confirm('Er du sikker?')">
                            Slet
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <script>
        function tilbage() {
            window.history.back();
        }
    </script>
    <a href="/">
        <input type="image" src="NMRlogo.png" width="48" height="48" id="homepage">
    </a>
</body>
</html>