<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret kontrakt</title>
    <link rel="stylesheet" type="text/css" href="../../static/MyCSS.css" th:href="@{/MyCSS.css}">
</head>
<body>
<h2>Vælg om du vil oprette en ny kunde eller vælge en eksisterende kunde</h2>

<h3>For at oprette ny kunde, klik her: </h3>
<a href="/opretKontraktKunde">
    <button type="button" id="tilfojButton" style="height: 25px">
        Opret kunde
    </button>
</a><br><br>

<h3>For at vælge eksisterende kunde, input et kunde ID i nendenstående felt og tryk "Videre"</h3>
<h4>Liste over kundeinformationer</h4>
<form action="/kontraktDato">
    <input type="number" name="ku_id" placeholder="Input ID her">
    <input type="submit" value="Videre">
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Kørekort nr.</th>
        <th>Gade</th>
        <th>Postnummer</th>
        <th>By</th>
        <th>Land</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kunde: ${kundeliste}">
        <td th:text="${kunde.ku_id}" />
        <td th:text="${kunde.fornavn}" />
        <td th:text="${kunde.efternavn}" />
        <td th:text="${kunde.telefon}" />
        <td th:text="${kunde.email}" />
        <td th:text="${kunde.korekort}" />
        <td th:text="${kunde.gade}" />
        <td th:text="${kunde.postnummer}" />
        <td th:text="${kunde.bynavn}" />
        <td th:text="${kunde.land}" />
    </tr>
    </tbody>
</table>
<a href="/">
    <input type="image" src="NMRlogo.png" width="48" height="48" id="homepage">
</a>
</body>
</html>