<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret autocamper</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
    <h3>Dette er de indtastede informationer</h3>
    <form action="/acceptAutocamper" method="post">
        <input type="text" name="a_type" th:value="${nyAutocamper.a_type}" readonly>
        <input type="text" name="a_maerke" th:value="${nyAutocamper.a_maerke}" readonly>
        <input type="text" name="a_model" th:value="${nyAutocamper.a_model}" readonly>
        <input type="number" name="a_odometer" th:value="${nyAutocamper.a_odometer}" readonly>
        <input type="number" name="a_senge" th:value="${nyAutocamper.a_senge}" readonly>
        <input type="text" name="a_nummerplade" th:value="${nyAutocamper.a_nummerplade}" readonly>
        <input type="number" name="a_pris" th:value="${nyAutocamper.a_pris}" readonly>
        <h4>Er de indtastede informationer korrekte?</h4>
        <input type="submit" value="Accept">
        <button type="button" onclick="tilbage()">Tilbage</button>
    </form>
    <a href="/">
        <button type = "button" id="homepage">
            Forside
        </button>
    </a>
    <script>
        function tilbage() {
            window.history.back();
        }
    </script>
</body>
</html>