<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret autocamper</title>
</head>
<body>
    <h3>Dette er de indtastede informationer</h3>
    <form action="/acceptAutocamper" method="post">
        <input type="text" name="a_type" th:value="${nyAutocamper.a_type}">
        <input type="text" name="a_maerke" th:value="${nyAutocamper.a_maerke}">
        <input type="text" name="a_model" th:value="${nyAutocamper.a_model}">
        <input type="text" name="a_odometer" th:value="${nyAutocamper.a_odometer}">
        <input type="text" name="a_senge" th:value="${nyAutocamper.a_senge}">
        <input type="text" name="a_nummerplade" th:value="${nyAutocamper.a_nummerplade}">
        <input type="text" name="a_pris" th:value="${nyAutocamper.a_pris}">
        <h4>Er de indtastede informationer korrekte?</h4>
        <input type="submit" value="Accept" onclick="opret()">
    </form>

    <script>
        function opret() {
            alert("Autocamper er blevet gemt!")
        }
    </script>
</body>
</html>