<!--Ansvarlig - MT, DMR & ENA-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fejl</title>
    <link rel="stylesheet" type="text/css" th:href="@{/MyCSS.css}">
</head>
<body id="bodyStyle">
    Der er opstået en fejl.
    Prøv venligst igen.
    Tryk oppe i højre hjørne for at vende tilbage til forsiden.
    <a href="/">
        <input type="image" src="NMRlogo.png" width="48" height="48" id="homepage">
    </a>
</body>
</html>