<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startside</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
    <h1 style="font-size: 40pt; display: flex; justify-content: center; align-items: center; font-family: 'Calibri Light'">
        <img src="NMRbanner.png" alt="banner">
    </h1>
    <div id ="homePageButtons">
        <a href="/kontrakter">
            <button type = "button" id="mainButton">
                Kontrakter
            </button>
        </a>

        <a href="/autocampere">
            <button type = "button" id="mainButton">
                Autocampere
            </button>
        </a>

        <a href="/kunder">
            <button type = "button" id="mainButton">
                Kunder
            </button>
        </a>
    </div>
</body>
</html>