<!--Ansvarlig - DMR-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kunder</title>
    <link rel="stylesheet" type="text/css" th:href="@{/MyCSS.css}">
</head>
<body id="bodyStyle">
<h1>Kunder</h1>
<a href="/opretKunde">
    <button type="button" id="tilfojButton">
        Opret kunde
    </button>
</a>
<br>
<a href="/kundeliste">
    <button type="button" id="seListeButton">
        Se liste
    </button>
</a>

    <a href="/">
        <input type="image" src="NMRlogo.png" width="48" height="48" id="homepage">

    </a>
</body>
</html>