<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret kunde</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
    <form action="/opretKunde" method="post">
        Fornavn
        <input type="text" name="fornavn"><br>
        Efternavn
        <input type="text" name="efternavn"><br>
        Telefon
        <input type="text" name="telefon"><br>
        Email
        <input type="text" name="email"><br>
        Kørekort nr.
        <input type="text" name="korekort"><br>
        Gade
        <input type="text" name="gade"><br>
        Postnummer
        <input type="text" name="postnummer"><br>
        By
        <input type="text" name="bynavn"><br>
        Land
        <input type="text" name="land"><br>
        <input type="submit" value="Gem kunde">
    </form>

</body>
</html>