<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>opretAutocamper</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
    <form action="/opretAutocamper" method="post">
        Type
        <input type="text" name="a_type"><br>
        Mærke
        <input type="text" name="a_maerke"><br>
        Model
        <input type="text" name="a_model"><br>
        Kilometer kørt
        <input type="text" name="a_odometer"><br>
        Sengepladser
        <input type="text" name="a_senge"><br>
        Nummerplade
        <input type="text" name="a_nummerplade"><br>
        Pris per dag
        <input type="text" name="a_pris"><br>
        <input type="submit" value="Gem autocamper">
    </form>
</body>
</html>