<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret kunde</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
    <h2>Opret ny kunde</h2>
    <form action="/opretKunde" method="post">
        <div id="opretForm">
            Fornavn: <input type="text" name="fornavn" required><br>
            Efternavn: <input type="text" name="efternavn" required><br>
            Telefon: <input type="text" name="telefon" required><br>
            Email: <input type="text" name="email" required><br>
            Kørekort nr.: <input type="text" name="korekort" required><br>
            Gade: <input type="text" name="gade" required><br>
            Postnummer: <input type="text" name="postnummer" required><br>
            By: <input type="text" name="bynavn" required><br>
            Land: <input type="text" name="land" required><br>
            <input type="submit" value="Gem kunde">
        </div>
    </form>
    <a href="/">
        <button type = "button" id="homepage">
            Forside
        </button>
    </a>
</body>
</html>