<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret kunde</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
    <style>
        .h4{
            color: antiquewhite;
        }
    </style>
</head>
<body>
    <div id="opretForm">
        <h4>Hello</h4>
        <form action="/opretKunde" method="post">
            <input type="text" name="fornavn"><br>
            <input type="text" name="efternavn"><br>
            <input type="text" name="telefon"><br>
            <input type="text" name="email"><br>
            <input type="text" name="korekort"><br>
            <input type="text" name="gade"><br>
            <input type="text" name="postnummer"><br>
            <input type="text" name="bynavn"><br>
            <input type="text" name="land"><br>
            <input type="submit" value="Gem kunde">
        </form>
    </div>
    <a href="/">
        <button type = "button" id="homepage">
            Forside
        </button>
    </a>
</body>
</html>