<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilbehør</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
    <div class="split venstre"></div>
    <h2> Tilbehør liste</h2>
    <div id="venstreTilbehor"></div>
    <h2>Liste over tilbehør</h2>
    <table>
        <thead>
        <tr>
            <th>Tilbehør</th>
            <th>Pris per dag</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tilbehor: ${tilbehorliste}">
            <td th:text="${tilbehor.navn}"></td>
            <td th:text="${tilbehor.navn}"></td>
            <td>
                <a th:href="@{'/sletTilbehor/'+${tilbehor.navn}}">
                    <button type="button" id="sletButton" onclick="return confirm('Er du sikker?')">
                        slet
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>


    <div class="split højre">
        <h2>Opret nyt tilbehør</h2>
        <div id="opretForm">
            <form action="/opretTilbehor" method="get">
                Tilbehør navn: <input type="text" name="navn" required><br>
                Pris: <input type="number" name="pris" required><br>
                <input type="submit" value="Gem tilbehør">
            </form>
        </div>
    </div>
    <a href="/">
        <button type = "button" id="homepage">
            Forside
        </button>
    </a>
</body>
</html>