<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilbehør</title>
    <link rel="stylesheet" type="text/css" th:href="@{/MyCSS.css}">
</head>
<body id="bodyStyle">
    <div class="split venstre">
        <h2>Liste over tilbehør</h2>
        <button type="button" id="tilbageKnap" onclick="tilbage()">Tilbage</button>
        <table>
            <thead>
            <tr>
                <th>Tilbehør</th>
                <th>Pris per dag i €</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tilbehor: ${tilbehorliste}">
                <td th:text="${tilbehor.navn}"></td>
                <td th:text="${tilbehor.pris}"></td>
                <td>
                    <a th:href="@{'/sletTilbehor/'+${tilbehor.navn}}">
                        <button type="button" id="sletButton" onclick="return confirm('Er du sikker?')">
                            Slet
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="split højre">
        <h2>Opret nyt tilbehør</h2>
        <form action="/opretTilbehor" method="get">
            <table style="width: 33%">
                <tr>
                    <td>Tilbehør navn</td>
                    <td><input type="text" name="navn" required></td>
                </tr>
                <tr style="background-color: white">
                    <td>Pris per dag i €</td>
                    <td><input type="number" name="pris" required></td>
                </tr>
            </table>
            <input type="submit" value="Gem tilbehør">
        </form>
    </div>
    <a href="/">
        <input type="image" src="NMRlogo.png" width="48" height="48" id="homepage">
    </a>
    <script>
        function tilbage() {
            window.history.back();
        }
    </script>
</body>
</html>